# Compiled class file
*.class

# Log file
*.log

.gradle
.DS_Store
.idea

/build/

# Ignore pictures generated
/screenshots/
*.jpg
*.png

# For now ignore the integration test data
/testData/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
 Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
